##<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$data.setLayoutTemplate("Popup.vm")
$page.setTitle("Modify Pipeline")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.message)
<div class="alert">$data.message</div>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ManagePipeline")">
#if($vr)
	<div class="error">Invalid parameters:<BR>$vr.toHTML()</div>
<HR>
#end

#set ($generatedElementsCnt = $item.getGenerateselements_element().size())
#set ($parametersCnt = $item.getParameters_parameter().size())

<TABLE width="100%">
	<TR>
		<TD colspan="2" align="left"><b> Add a new pipeline </b></TD>
	</TR>
	<TR>
		<TD>Enter Path to Pipeline descriptor xml <font color="red">&#8658</font></TD>
		<TD> <input type="text"   id="pipe:pipelineDetails.path" name="pipe:pipelineDetails.path" value="$!item.getProperty('pipe:pipelineDetails.path')"/></TD>
		#if ($vr)
			#if($vr.getField("pipe:pipelineDetails.path"))
				<font color="red">&#8658</font><BR>
			#end
		#end

	</TR>
	<TR>
		<TD>Enter datatypes on which the pipeline executes <font color="red">&#8658</font></TD>
		<td> 
			<input type="text" name="pipe:pipelineDetails.appliesTo" id="pipe:pipelineDetails.appliesTo" value="$!item.getProperty('pipe:pipelineDetails.appliesTo')" />
		</td>
	</TR>
	<TR>
		<TD>Enter Name of the custom webpage to launch this pipeline </TD>
		<TD> <input type="text" size="70" name="pipe:pipelineDetails.customwebpage" value="$!item.getProperty('pipe:pipelineDetails.customwebpage')"/></TD>
	</TR>
	<TR>
		<TD>Enter datatypes generated by the pipeline </TD>
		<td> </td>
	</tr>
	<TR> 
		<td> </td>
		<TD> 
			<table>
				#foreach($c in [0..$generatedElementsCnt] )
				 <tr> <td>
						<SELECT name="pipe:pipelineDetails.generatesElements.element[${c}].element" id="pipe:pipelineDetails.generatesElements.element[${c}].element">
				 				<OPTION VALUE="">(SELECT)</OPTION>
				 				#foreach($elementName in $elements)
				 			           <option value="$elementName">$elementName</option>
				 				#end
						</select>
				 </td> </tr>
				#end
			</table>
		</TD>
	</TR>

	<TR>
		<TD colspan="2" align="center"><input type="button" ONCLICK="javascript:history.go(-1)" value="Back"/>&nbsp;&nbsp;&nbsp;<input type="submit" ONCLICK="return validateForm();" name="eventSubmit_doNext" value="Next"/></TD>
	</TR>
</TABLE>

<script type="text/javascript">
function validateForm()
{
     if(document.getElementById("pipe:pipelineDetails.path") == "")
      {
        document.getElementById("pipe:pipelineDetails.path").focus();
        xModalMessage('Pipeline Validation', 'Please set a valid path for the pipeline descriptor.');
        return false;
      }
   	  
     if(document.getElementById("pipe:pipelineDetails.appliesTo").selectedIndex==0)
     {
       document.getElementById("pipe:pipelineDetails.appliesTo").focus();
       xModalMessage('Pipeline Validation', 'Please select a data-type on which the pipeline executes.');
       return false;
     }

     var rtn = true;	
     #foreach($c in [0..$generatedElementsCnt] )
     if(document.getElementById("pipe:pipelineDetails.generatesElements.element[${c}].element").selectedIndex==0)
     {
       document.getElementById("pipe:pipelineDetails.generatesElements.element[${c}].element").disabled = true;
     }
    
     #end
     
     return rtn;	
}
</script>

</form>

