#set($create_projects=$data.getSession().getAttribute("userHelper").getAllowedValues("$item.getXSIType()","$item.getXSIType()/project","create"))
#set($read_projects=$data.getSession().getAttribute("userHelper").getAllowedValues("$item.getXSIType()","$item.getXSIType()/project","read"))
#set($projectMap = $data.getSession().getAttribute("userHelper").getCachedItemValuesHash("xnat:projectData",null,false,"xnat:projectData/ID","xnat:projectData/secondary_ID"))
<div>
  This $displayManager.getSingularDisplayNameForSubject().toLowerCase() is owned by: <b>$!om.getProjectDisplayID()</b>.
</div>
<div class="spacer">&nbsp;</div>
<div style="margin-bottom:5px">
  <div ID="sharing_summary_title" style="margin-bottom:5px"></div>
  <div ID="sharing_summary_table"></div>
</div>
<div>
Share into 
#if($create_projects.size()>0)
<SELECT ID="s_projects" name="projects">
<option value="">(SELECT)</option>
#foreach($proj in $create_projects)
#if(!$om.hasProject($proj))
#if($projectMap.get($proj))
<option value="$proj">
$projectMap.get($proj)
</option>
#elseif($proj=="*")

#else
<option value="$proj">
$proj
</option>
#end
#end
#end
</SELECT>
<input type="button" value="Add" ONCLICK="restShare()"/>
#else
ERROR:  No $displayManager.getPluralDisplayNameForProject().toLowerCase() exist.  Please create a $displayManager.getSingularDisplayNameForProject().toLowerCase() before attempting to insert this item.
#end
</div>
				<script type="text/javascript" src="$content.getURI("scripts/BasePopup.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/restSharer.js")"></script>
<style type="text/css">   
  .icon-of { display:block; height: 19px; padding-left: 20px; background: transparent url($content.getURI("scripts/yui/build/treeview/assets/img/folders/of.gif")) no-repeat;}   
  .icon-f { display:block; font-size:11px; height: 17px; padding-left: 4px;}
  .icon-cf { display:block; height: 19px; padding-left: 20px; background: transparent url($content.getURI("scripts/yui/build/treeview/assets/img/folders/cf.gif")) no-repeat;} 
  .ygtvcheck0 { background: url($content.getURI("scripts/yui/build/treeview/assets/img/check/check0.gif")) 0 0 no-repeat; width:16px; cursor:pointer }
  .ygtvcheck1 { background: url($content.getURI("scripts/yui/build/treeview/assets/img/check/check1.gif")) 0 0 no-repeat; width:16px; cursor:pointer }
  .ygtvcheck2 { background: url($content.getURI("scripts/yui/build/treeview/assets/img/check/check2.gif")) 0 0 no-repeat; width:16px; cursor:pointer }
</style>
<script>
XNAT.app.shared_projects=new Array();
window.all_items=new Array();
window.primary_project="$om.getProject()";

#foreach($pp in $om.getSharing_share())
XNAT.app.shared_projects.push({id:"$pp.getProperty("project")",
     name:"$pp.getProjectDisplayID()",
     label:"$!pp.getProperty("label")",
     group:"$!pp.getProperty("group")",
     expts:#if($om.getAssessmentCount($pp.getProperty("project")))
$om.getAssessmentCount($pp.getProperty("project"))
#else
0
#end});
#end

   var dataSource = new YAHOO.util.DataSource(XNAT.app.shared_projects);
   		dataSource.responseType = YAHOO.util.DataSource.TYPE_JSARRAY;
   		dataSource.responseSchema = {
     		fields:["id","name","label","group","expts"]
   		};
   		
   window.cfDT=new YAHOO.widget.DataTable("sharing_summary_table",[
   		{key:"button", label:"Unshare",formatter:function(el, oRecord, oColumn, oData) {
			el.innerHTML=el.innerHTML = "<button type=\"button\" class=\"yui-dt-button\"><img border=\"0\" src=\""+serverRoot +"/images/close.gif\"/></button>";
   	    }},
   		{label:"$displayManager.getSingularDisplayNameForProject()",key:"name"},
   		{label:"Label",key:"label"},
   		{label:"Group",key:"group"},
   		{label:"Note",key:"expts",formatter:function(elCell, oRecord, oColumn, oData){
   		  if(oRecord.getData("expts")>0)
     			elCell.innerHTML = "* " +oRecord.getData("expts") + " added assessment(s)";
    		}}],dataSource,
   		{});
   
   window.cfDT.render();

   function refreshSharing(){
      if(XNAT.app.shared_projects.length==0){
         document.getElementById("sharing_summary_table").style.display="none";
      } else { 
         document.getElementById("sharing_summary_table").style.display="block";
      }
      document.getElementById("sharing_summary_title").innerHTML="This experiment has been shared into <span id='sharedInto' style='font-weight:bold;'>"+XNAT.app.shared_projects.length+"</span> $displayManager.getSingularDisplayNameForProject().toLowerCase()(s):";
   }
   
   refreshSharing();

   window.cfDT.subscribe("buttonClickEvent", function(oArgs){  
      var oRecord = this.getRecord(oArgs.target);

      if(oRecord.getData("id")==window.primary_project){
          xModalMessage("Error", "Unable to remove $displayManager.getSingularDisplayNameForProject().toLowerCase() owner.  Contact a system administrator.");
         return;
      }

      if(oRecord.getData("expts")>0){
          xModalMessage("Error", "This $displayManager.getSingularDisplayNameForProject().toLowerCase() has created experiments which would be deleted by this action.  Please either modify the ownership of this experiment to match that $displayManager.getSingularDisplayNameForProject().toLowerCase(), or separately delete the created experiments.");
         return;
      }

      xModalConfirm({
      title: 'Remove Share?',
      content: 'Are you sure you want to remove this experiment from the '+oRecord.getData("name")+' $displayManager.getSingularDisplayNameForProject().toLowerCase()?<br/><br/>Any assessors for this experiment will also be removed from the $displayManager.getSingularDisplayNameForProject().toLowerCase().',
      okLabel: 'Yes',
      cancelLabel: 'No',
      okAction: function(){
        var deleteCallback={
          success:function(o){
             closeModalPanel("share");
             document.getElementById("s_projects").add(new Option(oRecord.getData("name"), oRecord.getData("id")));
             window.cfDT.deleteRow(o.argument.oArgs.target);
             for(var i=0; i<XNAT.app.shared_projects.length; i++){
               if(XNAT.app.shared_projects[i].id == o.argument.oRecord._oData.id){
                 XNAT.app.shared_projects.splice(i, 1);
               }
             }
             $('#sharedInto').text(XNAT.app.shared_projects.length);
          },
          failure:function(o){
             closeModalPanel("share");
              xModalMessage("Error", "Unable to remove experiment from "+o.argument.oRecord.getData("name") + "<br/><br/>" + o.statusText);
          },
          cache:false, // Turn off caching for IE
          scope:this,
          argument:{"oRecord":oRecord,"oArgs":oArgs}
        };

        openModalPanel("share","Un-sharing experiment...");
        var label=(oRecord.getData("label")=="" ||oRecord.getData("label")==null)?"$om.getId()":oRecord.getData("label");

        ## Build the REST URI
        ## This url is specific to xnat:imageAssessorData, but since this file (sharing.vm) is also specific to 
        ## xnat:imageAssessorData, no conditional statement is required. (Fixes: XNAT-1334)
        var uri = serverRoot + "/REST/projects/" + oRecord.getData("id") + 
                              "/subjects/$om.getImageSessionData().getSubjectId()/experiments/$om.getImageSessionData().getLabel()/assessors/$om.getId()?format=json&XNAT_CSRF=" + 
                              csrfToken + "&event_reason=standard unshare";

        ## Unshare the Assessor
        YAHOO.util.Connect.asyncRequest('DELETE',uri,deleteCallback,null,this);
      },
      cancelAction: function(){}
      });
   });

   function restShare(){
      if(document.getElementById("s_projects").selectedIndex>0){

         window.Sharer=new RestSharer(_a,{defaultHeight:450,defaultWidth:700,project:{id:document.getElementById("s_projects").options[document.getElementById("s_projects").selectedIndex].value,label:document.getElementById("s_projects").options[document.getElementById("s_projects").selectedIndex].text}});
         window.Sharer.init();

         window.Sharer.oncomplete.subscribe(function(e,args){ 
            var newSP={
               id:window.Sharer.config.project.id,
               name:window.Sharer.config.project.label,
               label:args[0],
               group:"",
               expts:0
            };

            window.cfDT.addRow(newSP);
            XNAT.app.shared_projects.push(newSP);

            document.getElementById("s_projects").remove(document.getElementById("s_projects").selectedIndex);
            document.getElementById("s_projects").selectedIndex=0;
            refreshSharing();

         },this,this); /* End window.Sharer.oncomplete.subscribe */

      } else { xModalMessage("No $displayManager.getSingularDisplayNameForProject().toLowerCase() specified", "Please specify a $displayManager.getSingularDisplayNameForProject().toLowerCase()."); }
   }
</script>